/**
 * Fonts
*/

@font-face {
  font-family: 'Prompt-Regular';
  src: url("../fonts/Prompt-Regular.eot?") format("eot"),
  url("../fonts/Prompt-Regular.woff") format("woff"),
  url("../fonts/Prompt-Regular.ttf") format("truetype");
  font-style: normal;
}
